[data-theme="dark"] {
    color-scheme: dark;
    --background-color: rgba(15, 15, 15, 1);
    --text-color: rgba(245, 245, 245, 1);
    --card-background-color: rgba(15, 15, 15, 0.2);
    --cards-background-color: rgba(15, 15, 15, 0.2);
    --cards-backdrop-filter: blur(10px);
    --link-card-hover-color: rgba(15, 15, 15, 0.5); // rgb(0 0 0 / 40%);
    --social-background-color: rgba(15, 15, 15, 0.2);
    --social-font-color: rgba(245, 245, 245, 1);
    --tooltip-background-color: rgba(15, 15, 15, 0.6);
    --player-control-color: rgba(245, 245, 245, 1);
    --player-control-hover-bg-color: rgba(245, 245, 245, 0.2);
    --player-slider-main-color: rgba(245, 245, 245, 0.8); // #efefef
    --player-slider-runway-color: rgba(15, 15, 15, 0.3); // #ffffff40
    --close-icon-color: rgba(245, 245, 245, 0.2);
    --music-card-background-color: rgba(245, 245, 245, 0.4);
    --music-smcard-background-color: rgba(245, 245, 245, 0.3);
    --music-smcard-background-hover-color: rgba(245, 245, 245, 0.6);
    --music-player-background-color: rgba(15, 15, 15, 0.5);
    --music-player-list-bgc: rgba(245, 245, 245, 0.2);
    --music-player-list-hover-bgc: rgba(245, 245, 245, 0.3);
    --footer-background-color: rgba(15, 15, 15, 0.2); // rgb(0 0 0 / 25%)
    --footer-text-color: rgba(245, 245, 245, 1);
    --time-icon-one-color: #efefef;
    --time-icon-two-color: #00000020;
    --time-progress-track-color: rgba(15, 15, 15, 0.2);
    --time-progress-fill-color: rgba(245, 245, 245, 0.8);
    --time-progress-text-color: rgba(15, 15, 15, 0.9);
    --set-background-color: rgba(245, 245, 245, 0.4);
    --set-coll-background-color: rgba(245, 245, 245, 0.3);
    --set-coll-background-ck-color: rgba(245, 245, 245, 0.1);
    --set-radio-border-color: rgba(245, 245, 245, 0.5);
    --set-radio-border-ck-color: rgba(245, 245, 245, 0.9);
    --set-radio-bg-color: rgba(245, 245, 245, 0.1);
    --set-radio-bg-ck-color: rgba(245, 245, 245, 0.3);
    --set-tooltip-effect: dark;


    a,
    p {
        color: var(--text-color);
    }
}

// Common styles
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}


a {
    color: var(--text-color);
}
