// scss 全局变量

// 根元素过渡定义
:root {
  transition: --background-color 0.3s ease, --text-color 0.3s ease, --card-background-color 0.3s ease, --link-card-hover-color 0.3s ease, --social-background-color 0.3s ease, --social-font-color 0.3s ease, --tooltip-background-color 0.3s ease, --player-control-color 0.3s ease, --player-slider-main-color 0.3s ease, --player-slider-runway-color 0.3s ease, --footer-background-color 0.3s ease, --footer-text-color 0.3s ease, --time-progress-track-color 0.3s ease, --time-progress-fill-color 0.3s ease, --time-progress-text-color 0.3s ease, --set-coll-background-color 0.3s ease, --set-coll-background-ck-color 0.3s ease, --set-radio-border-color 0.3s ease, --set-radio-bg-color 0.3s ease, --set-radio-bg-ck-color 0.3s ease;
}

// 响应式布局
@mixin changeWidth($maxWidth: 1200px) {
  .page-container {
    max-width: $maxWidth;
  }
}

// 首次调用
@include changeWidth;

/* 小于1280px时 */
@media (max-width: 1280px) {
  @include changeWidth($maxWidth: 1100px);
}

/* 小于992px时 */
@media (max-width: 992px) {
  @include changeWidth($maxWidth: 900px);
}

/* 小于720px时 */
@media (max-width: 720px) {
  // 隐藏元素
  .is-xs-hidden {
    display: none;
  }
}
